# example config

[sql]
url = "sqlite:///database.db"
connect_args = { check_same_thread = false }

[auth]
secret_key = "i-am-example-secret-key"
algorithm = "HS256"
default_ttl_sec = 900

[verify_email]
subject = "Hi"
content = "Verify here: https://noj.tw/auth/active?token={access_token}"

[smtp]
server = "msa.hinet.net"
noreply = "test@gmail.com"
noreply_password = None
