from celery.schedules import crontab

broker_url = "pyamqp://localhost"
result_backend = "rpc://"

task_serializer = "json"
result_serializer = "json"
accept_content = ["json"]
timezone = "Asia/Taipei"

imports = ["telery.crawler_tasks"]

beat_schedule = {
    "Earthquake": {
        "task": "telery.crawler_tasks.CrawlNowEarthquake",
        "schedule": crontab(minute="*/5"),
        "args": (),
    },
    "Reservoir": {
        "task": "telery.crawler_tasks.CrawlNowReservoir",
        "schedule": crontab(minute="*/5"),
        "args": (),
    },
    "SavePower": {
        "task": "telery.crawler_tasks.Power",
        "schedule": crontab(minute="*/5"),
        "args": (),
    },
}
